@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body, h1 {
  color: #F1DAC4;
  margin-top: 20px;
}

body {
  background-color: #161B33;
  font-family: "Open Sans", serif;
  font-size: 14px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.4rem;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

a {
  text-decoration: none !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F8F9FA;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
  color: #161B33;
  margin-bottom: 20px;
}

.p-5 {
  margin-bottom: 40px;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

[class*=dlist-] {
  margin-bottom: 5px;
}

.price {
  font-weight: 600;
  color: #0D0C1D;
}

.btn.btn-out {
  outline: 1px solid #fff;
  outline-offset: -5px;
}

.btn-main {
  border-radius: 0%;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff;
  width: 100%;
}

.btn-light {
  color: #F1DAC4;
  background-color: #474973;
  border-color: #474973;
  font-size: 12px;
  border-radius: 0%;
  margin: 10px;
}

.btn-light:hover {
  color: #161B33;
  background-color: #474973;
  border-color: #161B33;
}

.btn-apply {
  font-size: 11px;
}

.bi.bi-cart {
  color: #0D0C1D;
  size: 20px;
  margin: 10px;
}

:hover.ms-n5 {
  color: #474973;
}

.ms-n5 {
  height: 40px;
}

.form-control.border-end-0.border {
  height: 40px;
}

.form-control-sm, .btn-primary, .btn-danger {
  border-radius: 0%;
  justify-content: center;
}

.fa.fa-search {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  margin-right: 10px;
}

.col {
  text-align: justify;
}

.bgimage-concert {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage-cinema {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage-theater {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/713149/pexels-photo-713149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage-dance {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/690597/pexels-photo-690597.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage-exhibit {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/20967/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage-standup {
  width: 100%;
  height: 700px;
  background: url("https://images.pexels.com/photos/892080/pexels-photo-892080.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.space {
  margin: 100px;
}

.col-5 {
  margin-left: 60px;
}

.col {
  margin-top: 20px;
}

.btn-position-right {
  text-align: right;
}

.btn.btn-outline-secondary {
  margin-right: 20px;
}

.no-border {
  border: 0;
}

.dropdown-menu {
  font-size: 14px;
  background-color: #F8F9FA;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

.img-genre {
  position: relative;
}

.genre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.genre-section {
  font-size: 18px;
}

.genre-section h2 {
  color: #F1DAC4;
  font-size: 50px;
}

.genre-section h2:hover, .centered h1:hover {
  color: white;
  font-size: 70px;
}

.centered h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.table, .research {
  background-color: #F8F9FA;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 18px;
}

.thead-light {
  background-color: #474973;
}

thead {
  color: #F1DAC4;
  text-align: center;
}

td {
  text-align: center;
}

.form-select {
  justify-content: center;
  background-color: #F1DAC4;
  border-radius: 0%;
}

.alert-message {
  color: #be3333;
}

.footer {
  margin-top: 50px;
  background-color: #0D0C1D;
}

.event {
  margin-left: 50px;
}

.research {
  background-color: #474973;
  padding: 5px;
}

@media (max-width: 600px) {
  .space {
    margin: 30px;
  }

  .bi.bi-cart {
    margin: 0px;
  }

  .centered h1 {
    top: 35%;
  }

  .event {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .genre-section h2 {
    color: #F1DAC4;
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */
